doctype html
html
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    .container
      h1 Vending Machine Simulation
      .col-md-8
      .col-md-4
        h4 Paid: £
          span#total
          br
          br
          button.btn.btn-primary(onclick="machine.acceptCoin(new TwentyPence())") Insert 20p

    script(src="js/main.js")
